@attribute [Authorize(Roles = "User")]
@attribute [Route(Routes.Authors)]
@inherits StateComponent

<MudStack>
    <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
        <MudText Typo="Typo.h5">Authors</MudText>
        <span>TODO: TreeGrid with parent child authors???</span>
        @*https://mudblazor.com/components/table#grouping-(multi-levels)*@
        <MudSpacer />
        @if (!AuthorListState.IsLoading)
        {
            <MudButton 
                ButtonType="ButtonType.Submit"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Add"
                Variant="Variant.Filled"
                Size="Size.Large"
                Disabled="true"
                IconSize="Size.Large">Add</MudButton>
        }
    </MudStack>
    <MudTable data-testid="@DataTestIds.AuthorsTable" Items="@_authors" Hover Breakpoint="Breakpoint.Sm" Loading="@AuthorListState.IsLoading">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Parent</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">
                <MudLink Href="@RouteHelpers.Author(context.AuthorId)" Typo="Typo.body1">@context.Name</MudLink>
            </MudTd>
            <MudTd DataLabel="Parent">
                @if (context.ParentAuthorId is Guid parentAuthorId)
                {
                    <MudLink Href="@RouteHelpers.Author(parentAuthorId)" Typo="Typo.body1">@GetAuthorName(parentAuthorId)</MudLink>
                }
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudStack>