@attribute [Route(Routes.Fandom)]
@inherits FluxorComponent

@if (FandomListState.Value.IsLoading)
{
    @*TODO: Framework activity monitor loading thingy*@
    <MudProgressCircular Indeterminate Class="ma-auto" />
}
else {
<MudStack>
    <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
        <MudText Typo="Typo.h5" data-testid="@DataTestIds.FandomTitle">@Data?.Name</MudText>
        <MudSpacer />
        <MudButton 
            ButtonType="ButtonType.Submit" 
            Color="Color.Primary" 
            StartIcon="@Icons.Material.Filled.Edit" 
            Variant="Variant.Filled" 
            Size="Size.Large" 
            Disabled="false"
            IconSize="Size.Large"
            OnClick="@OpenEditFandomModal">Edit</MudButton>
    </MudStack>
    @if (Data.Name != Data.ExternalName)
    {
        <MudText Typo="Typo.subtitle1">@Data?.ExternalName</MudText>
    }
    <MudDivider />
    <MudText Typo="Typo.subtitle1" data-testid="@DataTestIds.FandomParentText">@(Parent?.Name ?? "No parent fandom selected")</MudText>
    @if (Children.Any())        
    {
        <MudDivider />
        <MudStack>
        <MudText Typo="Typo.subtitle1">Children</MudText>
        <div data-testid="@DataTestIds.FandomChildrenContainer">
        @foreach (var child in Children)
        {
            <MudLink Href="@RouteHelpers.Fandom(child.FandomId)" Typo="Typo.body1">@child.Name</MudLink>
        }
        </div>
        </MudStack>
    }
    <MudDivider />
    <MudText Typo="Typo.subtitle1">Stories</MudText>
    @if (!StoryListState.Value.IsLoading)
    {
    <ul>
        @foreach (var story in _fandomStories)
        {
            <li><MudLink Href="@RouteHelpers.Story(story.StoryId)" Typo="Typo.body1">@story.Name</MudLink></li>
        }
    </ul>
    }
</MudStack>
}