@attribute [Authorize(Roles = "User")]
@attribute [Route(Routes.Fandoms)]
@inherits StateComponent

<MudStack>
    <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
        <MudText Typo="Typo.h5">Fandoms</MudText>
        <span>TODO: TreeGrid with parent child fandoms???</span>
        @*https://mudblazor.com/components/table#grouping-(multi-levels)*@
        <MudSpacer />
        @if (!FandomListState.IsLoading)
        {
            <MudButton 
                ButtonType="ButtonType.Submit"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.Add"
                Variant="Variant.Filled"
                Size="Size.Large"
                Disabled="false"
                IconSize="Size.Large"
                OnClick="@OpenAddFandomModal">Add</MudButton>
        }
    </MudStack>
    <MudTable data-testid="@DataTestIds.FandomsTable" Items="@_fandoms" Hover Breakpoint="Breakpoint.Sm" Loading="@FandomListState.IsLoading">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>External name</MudTh>
            <MudTh>Parent</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">
                <MudLink Href="@RouteHelpers.Fandom(context.FandomId)" Typo="Typo.body1">@context.Name</MudLink>
            </MudTd>
            <MudTd DataLabel="External name">@context.ExternalName</MudTd>
            <MudTd DataLabel="Parent">
                @if (context.ParentFandomId is Guid parentFandomId)
                {
                    <MudLink Href="@RouteHelpers.Fandom(parentFandomId)" Typo="Typo.body1">@GetFandomName(parentFandomId)</MudLink>
                }
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudStack>