@attribute [Route(Routes.Story)]
@inherits FluxorComponent

@if (ManageStoryState.Value.IsLoading)
{
    @*TODO: Framework activity monitor loading thingy*@
    <MudProgressCircular Indeterminate Class="ma-auto" />
}
else 
{
    <MudStack>
        <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
            <MudText data-testid="@DataTestIds.StoryTitle"   Typo="Typo.h5">@Data.Name</MudText>
            <div data-testid="@DataTestIds.StoryFavouriteIcon" class="float-right favourite-container-visible">
                @if (Data.Favourite)
                {
                    <MudIcon Class="favourite-icon" Icon="@Icons.Material.Filled.Star" onclick="@(() => FavouriteClick(false))" />
                }
                else
                {
                    <MudIcon Class="non-favourite-icon" Icon="@Icons.Material.Filled.StarOutline" onclick="@(() => FavouriteClick(true))" />
                }
            </div>
            @*TODO: data-testid*@
            <ClickableIcon 
                Value="@_consumedChapterUpToDate"
                ActiveIcon="@Icons.Material.Filled.CheckCircle"
                InactiveIcon="@Icons.Material.Filled.CheckCircleOutline"
                ActiveColour="lightgreen"
                InactiveColour="lightgrey"
                ActiveTooltip="You've read everything this story has!"
                InactiveTooltip="You've got more to read!"
                OnClick="@(async _ => await ConsumedChapterIconClick(_))"/>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowOutward" Href="@_currentChapterAddress" Target="_blank"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@OpenEditStoryDialog"/>
            <MudText Class="muted-text" Typo="Typo.body2">@_lastCheckedText</MudText>
            <MudSpacer />
            <ProgressButton 
                InProgress="@_inProgress" 
                Color="Color.Primary" 
                Disabled="@_inProgress" 
                Label="Check" 
                StartIcon="@Icons.Material.Filled.Sync" 
                OnClick="@CheckStory" />
            <MudButton 
                ButtonType="ButtonType.Submit"
                Color="Color.Error"
                StartIcon="@Icons.Material.Filled.Delete"
                Variant="Variant.Filled"
                Size="Size.Large"
                Disabled="_inProgress"
                IconSize="Size.Large"
                OnClick="OpenDeleteConfirmationDialog">Delete</MudButton>
        </MudStack>

        <MudText data-testid="@DataTestIds.StoryChapterText" Typo="Typo.body1">@_chaptersText</MudText>
        <MudText Typo="Typo.body1">@_lastAuthoredText</MudText>
        <MudText Typo="Typo.body1">@_updateTypeText</MudText>
        <MudDivider />
        @if (!FandomListState.Value.IsLoading)
        {
        <MudStack>
            <MudSwitch @bind-Value="_showActualFandoms" Label="Show actual fandoms" />
            <ul data-testid="@DataTestIds.StoryFandomsList">
            @foreach (var fandom in Data.FandomIds
                .Select(_ => LinkDisplayHelpers.GetFandom(_, !_showActualFandoms, FandomListState.Value.Entities))
                .OfType<FandomDto>()
                .DistinctBy(_ => _.FandomId))
            {
                <li><MudLink id="@fandom.FandomId" Href="@RouteHelpers.Fandom(fandom.FandomId)" Typo="Typo.body1">@fandom.Name</MudLink></li>
            }
            </ul>
        </MudStack>
        }
        <MudDivider />

        <MudStack>
            <MudSwitch @bind-Value="_showActualAuthors" Label="Show actual authors" />
            <ul data-testid="@DataTestIds.StoryAuthorList">
                @foreach (var author in Data.AuthorIds
                   .Select(_ => LinkDisplayHelpers.GetAuthor(_, !_showActualAuthors, AuthorListState.Value.Entities))
                   .OfType<AuthorDto>()
                   .DistinctBy(_ => _.AuthorId))
                {
                    <li><MudLink id="@author.AuthorId" Href="@RouteHelpers.Author(author.AuthorId)" Typo="Typo.body1">@author.Name</MudLink></li>
                }
            </ul>
        </MudStack>
        <MudDivider />
        <MudStack>
            <MudStack Row>
                <MudText Typo="Typo.subtitle1">Updates</MudText>
                <MudSpacer />
                <MudButton
                    ButtonType="ButtonType.Submit"
                    Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.Add"
                    Variant="Variant.Filled"
                    Size="Size.Large"
                    Disabled="FandomListState.Value.IsLoading"
                    IconSize="Size.Large"
                    OnClick="@AddStoryUpdate">Add</MudButton>
            </MudStack>
            <MudTable data-testid="@DataTestIds.StoryUpdateTable" Items="@Data.Updates.OrderByDescending(_ => _.CurrentChapters)" Hover Breakpoint="Breakpoint.Sm" Loading="@FandomListState.Value.IsLoading">
                <HeaderContent>
                    <MudTh>Chapters</MudTh>
                    <MudTh>Last authored</MudTh>
                    <MudTh>Checked</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Chapters">@UpdateChapterText(context)</MudTd>
                    <MudTd DataLabel="Last authored">@context.LastAuthored.Humanize()</MudTd>
                    <MudTd DataLabel="Checked">@context.LastChecked.Humanize()</MudTd>
                </RowTemplate>
            </MudTable>
        </MudStack>
    </MudStack>
}