@attribute [Route(Routes.Story)]
@inherits FluxorComponent

@if (ManageStoryState.Value.IsLoading)
{
    @*TODO: Framework activity monitor loading thingy*@
    <MudProgressCircular Indeterminate Class="ma-auto" />
}
else 
{
    <MudStack>
        <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
            <MudText Typo="Typo.h5">@Data.Name</MudText>
            <div class="float-right favourite-container-visible">
                @if (Data.Favourite)
                {
                    <MudIcon Class="favourite-icon" Icon="@Icons.Material.Filled.Star" onclick="@(() => FavouriteClick(false))" />
                }
                else
                {
                    <MudIcon Class="non-favourite-icon" Icon="@Icons.Material.Filled.StarOutline" onclick="@(() => FavouriteClick(true))" />
                }
            </div>
            <ClickableIcon 
                Value="@_consumedChapterUpToDate"
                ActiveIcon="@Icons.Material.Filled.CheckCircle"
                InactiveIcon="@Icons.Material.Filled.CheckCircleOutline"
                ActiveColour="lightgreen"
                InactiveColour="lightgrey"
                ActiveTooltip="You've read everything this story has!"
                InactiveTooltip="You've got more to read!"
                OnClick="@(async _ => await ConsumedChapterIconClick(_))"/>
            <MudIconButton Icon="@Icons.Material.Filled.ArrowOutward" Href="@_currentChapterAddress" Target="_blank"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@OpenEditStoryDialog"/>
            <MudText Class="muted-text" Typo="Typo.body2">@_lastCheckedText</MudText>
            <MudSpacer />
            <ProgressButton 
                InProgress="@_inProgress" 
                Color="Color.Primary" 
                Disabled="@_inProgress" 
                Label="Check" 
                StartIcon="@Icons.Material.Filled.Sync" 
                OnClick="@CheckStory" />
            <MudButton 
                ButtonType="ButtonType.Submit"
                Color="Color.Error"
                StartIcon="@Icons.Material.Filled.Delete"
                Variant="Variant.Filled"
                Size="Size.Large"
                Disabled="_inProgress"
                IconSize="Size.Large"
                OnClick="OpenDeleteConfirmationDialog">Delete</MudButton>
        </MudStack>

        <MudText Typo="Typo.body1">@_chaptersText</MudText>
        <MudText Typo="Typo.body1">@_lastAuthoredText</MudText>
        <MudText Typo="Typo.body1">@_updateTypeText</MudText>
        <MudDivider />
        @if (!FandomListState.Value.IsLoading)
        {
        <MudStack>
            <span>TODO: Slider/toggle to show actual/hidden vs display???</span>
            <ul>
            @foreach (var fandomId in Data.FandomIds)
            {
                <li><MudLink Href="@RouteHelpers.Fandom(fandomId)" Typo="Typo.body1">@GetFandomName(fandomId)</MudLink></li>
            }
            </ul>
        </MudStack>
        }
        <MudDivider />

        <MudStack>
            <span>TODO: Slider/toggle to show actual/hidden vs display???</span>
            <ul>
                @foreach (var authorId in Data.AuthorIds)
                {
                    <li><MudLink Href="@RouteHelpers.Author(authorId)" Typo="Typo.body1">@GetAuthorName(authorId)</MudLink></li>
                }
            </ul>
        </MudStack>
        <MudDivider />
        <MudStack>
            <MudStack Row>
                <MudText Typo="Typo.subtitle1">Updates</MudText>
                <MudSpacer />
                <MudButton
                    ButtonType="ButtonType.Submit"
                    Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.Add"
                    Variant="Variant.Filled"
                    Size="Size.Large"
                    Disabled="FandomListState.Value.IsLoading"
                    IconSize="Size.Large"
                    OnClick="@AddStoryUpdate">Add</MudButton>
            </MudStack>
            <MudTable Items="@Data.Updates.OrderByDescending(_ => _.CurrentChapters)" Hover Breakpoint="Breakpoint.Sm" Loading="@FandomListState.Value.IsLoading">
                <HeaderContent>
                    <MudTh>Chapters</MudTh>
                    <MudTh>Last authored</MudTh>
                    <MudTh>Checked</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Chapters">@UpdateChapterText(context)</MudTd>
                    <MudTd DataLabel="Last authored">@context.LastAuthored.Humanize()</MudTd>
                    <MudTd DataLabel="Checked">@context.LastChecked.Humanize()</MudTd>
                </RowTemplate>
            </MudTable>
        </MudStack>
    </MudStack>
}